
@{
    ViewBag.Title = "Greska";
}

<h2>Greska</h2>
<html>
<body>
    <form action="/User/Preusmeri" method="post">
        <p> @ViewBag.Message</p>
        <input type="submit" value="Nazad">
    </form>
</body>
</html>

