
@{
    ViewBag.Title = "Taxi sluzba";
}

<head>
  <style>
      body {
            background-color:lightblue;        
           }

      img {
          right:200px;
          top:100px;        
          position:absolute;
         
      }
  
  </style>  

</head>
<body >
    <h2>Taxi sluzba</h2>
    <br/>
    <h3>Registracija korisnika</h3>
      <p><b> <a href="\User\prijava">Prijava</a> </b></p>
        <form action="\User\Registracija" method="post">
            <table border="1"> 
                <tr>
                    <td><b>Ime:</b></td>
                    <td>
                        <input type="text" name="ime" />
                    </td>
                </tr>
                <tr>
                    <td><b>Prezime:</b></td>
                    <td>
                        <input type="text" name="prezime" />
                    </td>
                </tr>
                <tr>
                    <td><b>Korisnicko ime:</b></td>
                    <td>
                        <input type="text" name="korisnickoIme" />
                    </td>
                </tr>
                <tr>
                    <td><b>Lozinka:</b></td>
                    <td>
                        <input type="password" name="lozinka" />
                    </td>
                </tr>
                <tr>
                    <td><b>Pol:</b></td>
                    <td>
                        <select name="pol">
                            <option value="MUSKI">Muski</option>
                            <option value="ZENSKI">Zenski</option>
                         </select>
                    </td>
                </tr>
                <tr>
                    <td><b>JMBG:</b></td>
                    <td>
                        <input type="text" name="jmbg" />
                    </td>
                </tr>
                <tr>
                    <td><b>Kontakt telefon:</b></td>
                    <td>
                        <input type="text" name="telefon" />
                    </td>
                </tr>
                <tr>
                    <td><b>Email:</b></td>
                    <td>
                        <input type="text" name="email" />
                    </td>
                </tr>           

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Registruj se"/>    
                    </td>   
                </tr>
            </table>  
        </form>  

        <img src="taxi.png" width="350" height="200"/>
      
</body>

